#include "..\..\include\Resources.h"

RES_APP_ICON
RES_GLOW_PNG
RES_FINGER_FRAG
RES_FINGER_VERT
RES_GLOW_FRAG
RES_GLOW_VERT
RES_MOTION_FRAG
RES_MOTION_VERT
RES_LOGO_PNG
RES_PLUG_IN_PNG
RES_PLUG_IN_PNG_PONGO
RES_PLUG_IN_PNG_HOPS

RES_BASS_OGG
RES_DRAWING_OGG
RES_FLUID_OGG
RES_GLOW_OGG
RES_HAND_OGG
RES_ROTATE_OGG
RES_WAIT_OGG